<% if @searched_flights != nil %>
    <h1><%= @searched_flights.count %> Flights Matched Your Criteria:</h1>
    <% @searched_flights.each do |flight| %>
        ***********************************************
        <h3>From: <%=flight.dep_airport.code%></h3>
        <h3>To: <%=flight.arr_airport.code%></h3>
        <h3>Date: <%=flight.start_datetime%></h3>
        <h3>Duration: <%= flight.duration%> minutes </h3>
    <% end %>
<% else %>
    <h1>Some Sample Flights</h1>
    <% @flights.each do |flight|%>
        <h3>From <%=flight.dep_airport.code %></h3>
        <h3>To: <%=flight.arr_airport.code%></h3>
        <h3>Date: <%=flight.start_datetime%></h3>
        <h3>Duration: <%= flight.duration%> minutes </h3>
    <% end %>
    <h1>Search Your Flights Here</h1>

    <%= simple_form_for :search, url: root_path, method: "GET", html: {class: 'form_inline'} do |f| %>
        <%= f.collection_select(:dep_airport_id, Airport.all, :id, :code)%>
        <%= f.collection_select(:arr_airport_id, Airport.all, :id, :code)%>
        <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>

<% end %>