
   <% if @searched_flights != nil %>
    <% @searched_flights.each do |flight| %>
            <br/>
            ***********************************************
            
            <h3>From: <%=flight.dep_airport.code%></h3>
            <h3>To: <%=flight.arr_airport.code%></h3>
            <h3>Date: <%=flight.start_datetime%></h3>
            <h3>Duration: <%= flight.duration%> minutes </h3>
            <h3>Number of Passengers: <%= @num_of_passengers%></h3>
            <%= radio_button_tag(:chosen_flight, flight.id, false )%>
            <%= label(:status, "See Flight Details", :value => "chosen")%>
            
            <br/>
            
            <%= link_to "Book the flight", new_flight_booking_path(flight.id, num_of_passengers: @num_of_passengers)%>
        
        <% end %>

   <% else %>
    <% @flights.each do |flight| %>
            <br/>
            ***********************************************
            
            <h3>From: <%=flight.dep_airport.code%></h3>
            <h3>To: <%=flight.arr_airport.code%></h3>
            <h3>Date: <%=flight.start_datetime%></h3>
            <h3>Duration: <%= flight.duration%> minutes </h3>

        <% end %>
    <% end %>
    
    
    <h1>Search Your Flights Here</h1>

    <%= simple_form_for :search, url: root_path, method: "GET", html: {class: 'form_inline'} do |f| %>
        <span class="form">Please select your departure airport: </span>
        <span class="form-content"><%= f.collection_select(:dep_airport_id, Airport.all, :id, :code,{:selected => "1"}) %></span>
        <br/>
        <span class="form">Please select your arrival airport: </span>
        <span class="form-content"><%= f.collection_select(:arr_airport_id, Airport.all, :id, :code, {:selected=>"1"})%></span>
        <br/>
        <span class="form">Please enter number of passengers: </span>
        <span class="form-content"><%= f.select(:num_of_passengers, [1,2,3,4], selected: "1")%></span>
        <br/>
        <%= hidden_field @num_of_passengers,  :value => :search["num_of_passengers"].to_i %>
        
        <span class="form">Please select departure date: </span>
        <span class="form-content"><%= f.date_select(:start_datetime, order:[:day,:month,:year], selected: Date.today)%></span>
        <br/>
        <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
