<h1> Verify Your Flight Information: </h1>
<%= form_with(model: @booking,  url: flight_bookings_path, method: "POST", html: {class: 'form_inline'}) do |f| %>
    <h3>Departure Airport Code: <%= @flight.dep_airport.code%></h3>
    <h3>Airport Airport Code: <%= @flight.arr_airport.code%></h3>
    <h3>Departure Date: <%= @flight.start_datetime%></h3>
    <h3>Number of Passengers: <%= params["num_of_passengers"]%>
        
        <br/>
        <%= f.fields_for :passengers do |p_form| %>
            <br/>
            <div class="row">
                <%= p_form.label :name, class: "col-sm-2 control-label"%>
                <%= p_form.text_field :name, class: "form-control col-sm-10"%>
            </div>
            <br/>
            <div class="row">
                <%= p_form.label :email, class: "col-sm-2 control-label"%>
                <%= p_form.text_field :email, class: "form-control col-sm-10"%>
            </div>
            <br/>
        <% end %>

        
    
    <br/>
    <br/>
    <%= f.submit "Submit", class: "btn btn-primary btn-lg"%>
    <%= link_to "Cancel", root_path, class: "btn btn-primary btn-lg"%>
    <br/>


<% end %>