<h1> Verify Your Flight Information: </h1>
<%= form_with(model: @booking,  url: flight_bookings_path, method: "POST", html: {class: 'form_inline'}) do |f| %>
    <h3>Departure Airport Code: <%= @flight.dep_airport.code%></h3>
    <h3>Airport Airport Code: <%= @flight.arr_airport.code%></h3>
    <h3>Departure Date: <%= @flight.start_datetime%></h3>
    <h3>Number of Passengers: <%= params["num_of_passengers"]%>
        
        <br/>
        <%= f.fields_for :passengers do |p_form| %>
            <%= p_form.label :name%>
            <%= p_form.text_field :name%>
            <%= p_form.label :email%>
            <%= p_form.text_field :email%>
            <br/>
        <% end %>
    
    <br/>
    <br/>
    <%= f.submit%>
    <br/>


<% end %>